.container {
    width: 45%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display-none {
    display: none;
}

.nav {
    padding: 100px;
}

.logo {
    width: 100px;
    height: auto;
}

.title {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: auto;
}

.card {
    padding: 30px;
}

.card-body {    
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    text-transform: uppercase;
    flex: 1;
}

.card-row {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.hash-label {
    margin: 0 20px;
    color: #0ce00c;
    white-space: nowrap;
    flex: 3;
    width: 100%;
}

.block-name {
    text-transform: uppercase;
    color: #3C4858;
}

.addblock {
    width: 40%;
}

.addblock-btn {
    width: 120px;
    margin: auto;    
}

.arrow {
    width: 50px;
    height: auto;    
}